@page "/stockSymbol"
@using StockView.Models
@rendermode InteractiveServer
@inject Services.IFinnHubService FinnHubService
<h3>StockSymbol</h3>

<EditForm Model="@_finnHubParam" OnValidSubmit="Search">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div>
        <label for="searchExchange">Search by Exchange:</label>
        <InputText id="searchExchange" @bind-Value="_finnHubParam!.Exchange" class="form-control" />
        <ValidationMessage For="@(() => _finnHubParam.Exchange)" />
    </div>

    <div>
        <label for="searchMic">Search by Mic:</label>
        <InputText id="searchMic" @bind-Value="_finnHubParam.Mic" class="form-control" />
    </div>
    
    <div>
        <label for="searchSecurityType">Search by SecurityType:</label>
        <InputText id="searchSecurityType" @bind-Value="_finnHubParam.SecurityType" class="form-control" />
    </div>
    
    <div>
        <label for="searchCurrency">Search by Currency:</label>
        <InputText id="searchCurrency" @bind-Value="_finnHubParam.Currency" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Search</button>
</EditForm>

@if (_stockSymbols == null || _paginatedStockSymbols == null)
{
    <p>Waiting...</p>
}
else if (!_stockSymbols.Any() || !_paginatedStockSymbols.Any())
{
    <p>No stock available.</p>
}
else
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Currency</th>
            <th>Description</th>
            <th>DisplaySymbol</th>
            <th>Figi</th>
            <th>Isin</th>
            <th>Mic</th>
            <th>ShareClassFIGI</th>
            <th>Symbol</th>
            <th>Symbol2</th>
            <th>Type</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var stockSymbol in _paginatedStockSymbols)
        {
            <tr>
                <td>@(stockSymbol.Currency ?? "NULL")</td>
                <td>@(stockSymbol.Description ?? "NULL")</td>
                <td>@(stockSymbol.DisplaySymbol ?? "NULL")</td>
                <td>@(stockSymbol.Figi ?? "NULL")</td>
                <td>@(stockSymbol.Isin ?? "NULL")</td>
                <td>@(stockSymbol.Mic ?? "NULL")</td>
                <td>@(stockSymbol.ShareClassFIGI ?? "NULL")</td>
                <td>@(stockSymbol.Symbol ?? "NULL")</td>
                <td>@(stockSymbol.Symbol2 ?? "NULL")</td>
                <td>@(stockSymbol.Type ?? "NULL")</td>
            </tr>
        }
        </tbody>
    </table>
    
    <nav>
        <ul class="pagination">
            <!-- Previous Button -->
            <li class="page-item @(HasPreviousPage ? "" : "disabled")">
                <button class="page-link" @onclick="GoToPreviousPage">Previous</button>
            </li>

            <!-- Next Button -->
            <li class="page-item @(HasNextPage ? "" : "disabled")">
                <button class="page-link" @onclick="GoToNextPage">Next</button>
            </li>
        </ul>
    </nav>
}

@code {
    private Models.StockSymbol[]? _stockSymbols;
    private Models.StockSymbol[]? _paginatedStockSymbols;

    private readonly FinnHubParam? _finnHubParam = new()
    {
        Exchange = "US"
    };

    private bool _isSearchPerformed;
    
    private const int PageSize = 5;
    private int _currentPage;
    private int _totalPages;
    private bool HasPreviousPage => _currentPage > 1;
    private bool HasNextPage => _currentPage < _totalPages;

    private async Task Search()
    {
        _isSearchPerformed = true;

        if (_finnHubParam != null) _stockSymbols = await FinnHubService.GetStockSymbolsAsync(_finnHubParam);
        _totalPages = (int)Math.Ceiling(_stockSymbols?.Length ?? 0 / (double)PageSize);
        if (_currentPage < 1)
        {
            _currentPage = 1;
        }
        else if (_currentPage > _totalPages)
        {
            _currentPage = _totalPages;
        }
        UpdatePaginatedStockSymbols();
    }
    
    private void UpdatePaginatedStockSymbols()
    {
        _paginatedStockSymbols = _stockSymbols?
            .Skip((_currentPage - 1) * PageSize)
            .Take(PageSize)
            .ToArray();
    }
    
    private void GoToPreviousPage()
    {
        if (!HasPreviousPage) return;
        _currentPage--;
        UpdatePaginatedStockSymbols();
    }

    private void GoToNextPage()
    {
        if (!HasNextPage) return;
        _currentPage++;
        UpdatePaginatedStockSymbols();
    }

}